
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Noto Sans', sans-serif;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Montserrat', sans-serif;	
}	
p,label{
	margin:0;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}

.wrapper_title {
    margin: 15px;
    font-size: 1.667em;
    font-weight: 400;
    letter-spacing: 0;
    color: #333;
}


/*--cart--*/
a:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}

/* Sweep To Bottom */
/*--content--*/
/*--product--*/
.sct_ct h2 {
    position: absolute;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.span-1 h3 {
	color: #000;
    font-size: 1.8em;	
}
p.in-para{
color: #B3B3B3;
    font-size: 0.9em;
    line-height: 2em;
    margin: 1em 0 ;
	border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
	padding:1em 0;
}
.price_single {
    padding-bottom: 1em;
}
span.reducedfrom {
	    color: #FAB005;
    font-size: 1.5em;   
}

h4.quick {
	color: #000;
	font-size:1.2em;
	text-transform: uppercase;
	margin-top: 1em;
	
}
p.quick_desc {
	color:#B3B3B3;
	font-size:0.9em;
	line-height: 2em;
	margin: 1em 0 2em;
}

/* Shutter In Vertical */
.my-cart-btn1 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
    background-color:#FAB005;
   color: #fff;
   padding: 0.5em 1em;
   font-size:1em;
    text-decoration:none;
	 border: none;
}
.my-cart-btn1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#029241;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border: none;
}
.my-cart-btn1:hover, .my-cart-btn1:focus, .my-cart-btn1:active {
	color: white;
	text-decoration:none;
	border:none;
	background: #FAB005;
	border-radius: 0;
}
.my-cart-btn1:hover:before, .my-cart-btn1:focus:before, .my-cart-btn1:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
   text-decoration:none;
}


ul.product-qty {
	padding: 0;
	list-style: none;
}
.product-qty span {
	color: #000;
	font-size:1.2em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;

}
.product-qty select {
	border: 1px solid #eee;
	padding: 0.5em;
	font-size: 1em;
	outline: none;
}
.product-qty option {
	border: 1px solid #EEE;
}
.wish-list {
	padding: 15px 0;
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
}
.wish-list ul{
	padding:0;
	list-style:none;
}
.wish-list li {
    display: inline-block;
    margin-right: 4%;
    width: 36%;
}
.wish-list li a i{
    margin-right:4%;
}
.wish-list li a {
	color:#FAB005;
	font-size: 0.85em;
	text-decoration: underline;
}
.wish-list li a span {
	padding-right:10px;
}
.wish-list li a:hover{
	text-decoration:none;
}

.size-top {
    margin: 2em 0;
}



.modal-dialog {
    width: 450px;
}

.kic h3 {
    font-size: 2.2em;
}
.ser-t span {
    left: 39%;
}
.span-1 {
    margin-top: 2em;
}

.carousel-indicators {
    left: 44%;
}
.main-agileits {
    width: 90%;
    padding: 2em;
}
.form-w3agile h3{
    margin-bottom: 1em;
}
.key i {
    padding: 13px 13px 13px 10px;
}
.panel-heading {
    padding: 11px 0px;
}
.panel-title {
    font-size: 0.94em;
}
.faq-w3 {
    padding: 4em 0 2em;
}
.terms {
    padding: 5em 0 2em;
}
.work-info span {
    left: 11.2em;
}
.work {
    padding: 3em 0 5em;
}
.advantages {
    padding: 3em 0;
}
.about {
    padding: 3em 0;
}
.single-top {
    width: 85%;
}

a.at-in {
    padding: 0.5em 0;
    width: 37%;
}
.sed {
    width: 100%;
}
.sed h5 {
    margin-top: 1em;
}
.ring-in {
    width: 34%;
}
.add-1 {
    padding: 7px 4px;
    font-size: 0.9em;
}
.check-out {
    padding: 3em 0 2em;
}
.login {
    padding: 2em 0;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 6px !important;
}
.advantages-left h3 {
    font-size: 2em;
}
.wthree-of {
    margin-top: 2em;
}
.bars {
    font-size: 1.8em;
}
.single {
    padding: 3em 0 0;
}
}

@media (max-width: 640px){
.checkout-left-basket {
    width: 57%;
}
}

@media (max-width: 480px){
.checkout-left-basket {
    width: 57%;
}
}

@media (max-width: 414px){
.cart {
    width: 27%;
}
.checkout-left-basket {
    width: 100%;
}
.checkout-right-basket{
margin-left:0;
width:100%;
}

nav.navbar.navbar-default {
    width: 73%;
}
.m-wthree {
    width: 50%;
    float: left;
    margin-bottom: 1em;
    padding: 0 3px;
}
.mid-1 {
    padding: 2em 0 0;
}
.col-m {
    padding: 0.5em;
}
.mid-1 h6 {
    font-size: 0.85em;
}
.mid-2 p {
    float: none;
}
.my-cart-b {
    font-size: 0.9em;
    padding: 0.3em 1em;
}
.m-w3ls, .m-w3ls1 {
    width: 100%;
}
.big-sale {
        top: 39px;
    left: 15.1%;
    width: 184px;
    height: 184px;
}
.big-sale h3, .big-sa h3, .big-sale2 h3, .big-sale3 h3 {
    font-size: 2.2em;
}
.pro-1 {
    padding: 0 5px;
}
.banner-info {
    margin: 2em 0;
}
img.img-head {
    width: 19%;
}
.logo h1 {
    font-size: 2.2em;
}
.logo h1 span {
    font-size: 11px;
    letter-spacing: 1px;
}
.logo h1 b {
    font-size: 7px;
    padding: 2px;
    top: 6px;
    left: -8px;
    line-height: 6.5px;
}
.card li a {
    font-size: 0.85em;
    margin: 0 0.3em;
}
.banner-info h3 {
    font-size: 1.4em;
}
.search-form input[type='submit'] {
    width: 35px;
    height: 35px;
    background: url(../images/can.png) no-repeat 4px 3px #FCCD1E;
}
.search-form input[type='text'] {
    width: 85%;
    padding: 7px 10px;
    font-size: 0.9em;
}
.search-form {
    width: 95%;
}
.spec h3 {
    font-size: 1.7em;
}
.ser-t {
    width: 64%;
}
.ser-t span i {
    width: 18px;
    height: 18px;
}
.ser-t span {
    width: 36px;
    height: 36px;
    left: 38%;
}
.ser-t {
    width: 64%;
}
.tabs li a {
    padding: 8px 9px !important;
	font-size: 0.9em;
}
.offer {
    right: -8px;
}
.container {
    padding-right: 5px;
    padding-left: 5px;
}
.product {
    padding: 3em 0 0em;
}
.footer-bottom h2 {
    font-size: 2.5em;
}
.footer-bottom h2 span {
    letter-spacing: 2px;
    font-size: 11px;
}
.footer-bottom h2 b {
    font-size: 7px;
    padding: 2px;
    line-height: 7px;
    top: 7px;
    left: -7px;
}
.footer-grid h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.pro-1 {
    margin-bottom: 1em;
}
.big-sale p, .big-sa p, .big-sale2 p, .big-sale3 p {
    font-size: 0.9em;
    line-height: 1.7em;
}
.big-sale2, .big-sale3 {
    margin-top: 2.5em;
}
.kic h3 {
    font-size: 1.8em;
}
.kic-top {
    padding: 4em 0 0;
}
.carousel-indicators li {

    margin: 0 3px;
}
.carousel-indicators {
    left: 41%;
    bottom: -26px;
}
.contact-left input[type="text"], .contact-left input[type="email"] {
    width: 100%;
    margin: 0 0% 5% 0%;
}
.contact-left input[type="submit"] {
    width: 33%;
    font-size: 0.9em;
}
.contact {
    padding: 3em 0 2em;
}
.main-agileits {
    width: 90%;
    padding: 1em;
}
.key input[type="text"], .key input[type="password"] {
    width: 84%;
    padding: 8px 10px;
}
.key i {
    padding: 10px 0px 10px 10px;
}
.form-w3agile input[type="submit"] {
    padding: 7px 0;
    margin-bottom: 25px;
}
.login {
    padding: 2em 0;
}
.form-w3agile h3{
    margin-bottom: 0.8em;
}
.panel-title {
    line-height: 1.8em;
}
.panel-heading {
    padding: 6px 0px;
}
.faq-w3 {
    padding: 3em 0 1em;
}
.spec {
    margin-bottom: 2em;
}
.terms h6 {
    font-size: 1.2em;
}
.terms p {
    font-size: 0.9em;
    margin-top: 10px;
    padding-left: 18px;
}
ol {
    margin-bottom: 17px;
}
.terms {
    padding: 4em 0 2em;
}
.work-info span {
    left: 7em;
}
.banner-top h3 {
    font-size: 1.7em;
}
.banner-top h4 {
    margin-top: 0.5em;
}
.banner-top {
    height: 76px;
    padding: 2em 0.5em;
}
.check-out {
    padding: 2em 0 1em;
}
th.t-head {
    font-size: 0.7em !important;
}
td.t-data {
    font-size: 0.8em !important;
}
.ring-in {
    width: 27%;
}
.t-w3l {
    width: 30%;
}
a.at-in {
    width: 75%;
}
.close1 i, .close2 i, .close3 i {
    width: 20px;
    height: 20px;
    line-height: 1.7em;
}
.close1, .close2, .close3 {
    left: 73%;
    top: 6px;
}
.work-w3, .work-w31 {
    padding: 1.5em;
}
.advantages-left h3 {
    font-size: 1.8em;
}
.ad-left p {
    font-size: 1.2em;
    width: 43px;
    height: 43px;
    line-height: 2.5em;
}
.ad-right {
    width: 80%;
}
.ad-left {
    width: 17%;
}
.ad-right h4, .advn-two h4 {
    font-size: 1.1em;
    line-height: 1.6em;
}
.advn-two {
    margin-top: 1em;
}
.contact-left h4 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
}
.contact-left {
    margin-top: 1em;
}
.single-top {
    width: 100%;
}
.single-w3agile {
    padding: 1em;
}
.wthree-of {
    margin-top: 1em;
}
.offer-w3agile {
    padding:2em 0;
}
.single {
    padding: 2em 0 0;
}
.modal-dialog {
    width: 85%;
}
input.my-product-quantity {
    width: 40px !important;
}
.big-sa {
    margin-top: 5em;
}
/*--typo--*/
.bars {
    font-size: 1.5em;
}
h1.t-button {
    font-size: 25px;
}
 h2.t-button{
    font-size: 22px;
}
 h3.t-button {
    font-size: 20px;
}
 h4.t-button {
    font-size: 18px;
}
 h5.t-button {
    font-size:15px;
}
.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 10px 11px;
    font-size: 18px;
}

.grid_3 p, .page-header p {
    font-size: 13px;
}
}

/*-- Ratings --*/
.rating-left {
    float: left;
}
.rating-left img {
    margin: .3em 0.1em 0;
}
.rating1 {
    direction:ltr;
	margin-bottom: 2em;
}
.starRating:not(old) {
    display: inline-block;
    height: 18px;
    width:100px;
    overflow: hidden;
}

.starRating:not(old) > input{
  margin-right :-26%;
  opacity      : 0;
}

.starRating:not(old) > label {
    float: right;
    background: url(../images/star.png);
    background-size: contain;
    margin-right: 2px;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 18px;
  height          : 18px;
  background      : url(../images/star-.png);
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
/*-- //Ratings --*/

/* List Select Box */
.w3ls_mobiles_grid_right_grid2 {
    margin: 2em 0;
}

.w3ls_mobiles_grid_right_grid2_right {
    float: right;
}

select.select_item {
    font-size: 14px;
    color: #212121;
    padding: 10px;
    outline: none;
    margin-right: 1em;
}
/* List Select Box */


/*추가*/
@media (max-width: 992px){
  .cart-items {width:100%}
}

.item_cont {
    padding: 0 /* 상품 진열 간격 */;
    text-align: left;
    color: #1c1c1c;
}

.item_photo_box {
    display: block !important;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: 1px solid #ebebeb;
    vertical-align: middle;
}

.item_photo_box a {
    display: block;
    height: 100%;
}

.item_basket_type .item_link {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 64px;
    text-align: center;
    line-height: 1;
    z-index: 10;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.7);
}

.item_basket_type .item_photo_box:hover .item_link {
    display: block;
}

.btn_basket_get {
	border:0;
    width: 48%;
    height: 100%;
    border-right: 1px dotted #ffffff;
    background-color: transparent;
    cursor: pointer;
}

.btn_basket_get span {
    display: block;
    color: #ffffff;
}

.btn_basket_cart {
	border:0;
    width: 48%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.btn_basket_cart span {
    display: block;
    color: #ffffff;
}

.item_info_cont {
    display: table-cell;
    padding: 20px 0 0 0;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
}

.item_tit_box {
    padding: 0;
}

.item_tit_box .item_name {
    display: block;
    padding: 5px 0 0 0;
    font-size: 13px;
    word-break: break-all;
}

.item_tit_box .item_name_explain {
    display: block;
    padding: 0 10px 0 0px;
    color: #a8a8a8;
}

.item_money_box {
    padding: 10px 0 0 0;
    line-height: 1;
}

.item_money_box del {
    display: block;
    color: #888888;
}

.item_money_box .item_price {
    display: block;
    padding: 7px 0 5px 0;
    font-size: 14px;
    color: #ab3e55;
}

.item_money_box .item_price {
    display: block;
    padding: 7px 0 5px 0;
    font-size: 14px;
    color: #ab3e55;
}

.item_icon_box {
    margin: 0;
    padding: 0;
}

.item_icon_box img {
    display: inline-block;
    padding: 5px 0 0 0;
}

.tab-pane {
	margin-bottom:50px;
	/*min-height:400px;*/
}

/*추가*/
.account-in {
    padding-top: 11em;
}

.account-in h3{
  font-size:2em;
  color: #000;
  padding: 0 0.5em 1em;
  text-transform:uppercase;
}

.dreamcrub {
    margin: 0 0 2em;
}

ul.breadcrumbs {
    padding: 0;
    list-style: none;
    float: left;
}

ul.breadcrumbs li {
    display: inline-block;
    font-size: 1em;
    color: #999;
}

ul.previous {
    padding: 0;
    list-style: none;
    float: right;
}

ul.product-categories{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.product-categories li {
	padding: 5px 0;
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
	text-transform: uppercase;
}
ul.product-categories li a:hover{
	text-decoration:none;
	color:#E23535;
}
.product-categories li span.count {
	float: right;
	margin-left: 6px;
	color: #aaa;
	font-size:0.8125em;
}
ul.product-categories li  a {
	-webkit-transition: background 350ms ease-in-out,border-color 350ms ease-in-out,color 150ms ease-in-out;
	-moz-transition: background 350ms ease-in-out,border-color 350ms ease-in-out,color 150ms ease-in-out;
	-ms-transition: background 350ms ease-in-out,border-color 350ms ease-in-out,color 150ms ease-in-out;
	-o-transition: background 350ms ease-in-out,border-color 350ms ease-in-out,color 150ms ease-in-out;
	transition: background 350ms ease-in-out,border-color 350ms ease-in-out,color 150ms ease-in-out;
	font-size:0.85em;
	color: #555;
}
ul.color{
	margin-bottom:3em;
}

.mens-toolbar {
	margin-bottom: 2em;
}
.mens-toolbar .sort {
	float: left;
	width:21.5%;
}
.sort-by {
	color:#000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.sort-by label{
	font-weight:normal;
	font-size:1em;
}
.mens-toolbar .pages {
	float: right;
	margin: 0;
}
.pages{
	float:right;
}

/* 상품리스트 sns&cart */
#cbp-vm .sct_sns_wrap {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#cbp-vm .sct_sns_cls {
    position: absolute;
    right: 0;
    top: 0;
    color: #b5b8bb;
    border: 0;
    padding: 12px 15px;
    font-size: 16px;
    background: #fff;
}

#cbp-vm .sct_sns_wrap .sct_sns_bg {
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    z-index: 99999;
}

#cbp-vm .sct_sns_wrap .sct_sns {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    text-align: center;
    width: 245px;
    max-height: 300px;
    margin-left: -125px;
    margin-top: -180px;
    overflow-y: auto;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 18px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 18px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 18px rgba(0,0,0,0.2);
    border: 1px solid #dde7e9;
    background: #fff;
    border-radius: 3px;
}

#cbp-vm .sct_sns_wrap .sct_sns h3 {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
}

#cbp-vm .sct_sns_wrap .sct_sns a {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 25px;
    text-align: center;
    padding: 10px 0;
    margin: 20px 5px;
}

#cbp-vm .sct_sns_wrap .sct_sns a>img {
	width: 24px;
	margin:0 auto;
}

#cbp-vm .sct_sns_wrap .sct_sns .share-facebook {
    background: #415b92;
}

#cbp-vm .sct_sns_wrap .sct_sns .share-twitter {
    background: #35b3dc;
}

#cbp-vm .sct_sns_wrap .sct_sns .share-googleplus {
    background: #ea3838;
}

/* 카트관련 */
#cbp-vm .sct_cartop_wr,.item_basket_type .sct_cartop_wr {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: left;
    background: rgba(0,0,0,0.5);
    opacity: 0.98;
}

#cbp-vm .sct_cartop_wr .sct_cart_form,.item_basket_type .sct_cartop_wr .sct_cart_form {
	position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    text-align: center;
    width: 245px;
    max-height: 300px;
    margin-left: -125px;
    margin-top: -180px;
    overflow-y: auto;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 18px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 18px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 18px rgba(0,0,0,0.2);
    border: 1px solid #dde7e9;
    border-radius: 3px;
}

#cbp-vm .sct_cartop_wr label,.item_basket_type .sct_cartop_wr label {
	font-size: 16px;
}

#cbp-vm .sct_cartop_wr .it_option,.item_basket_type .sct_cartop_wr .it_option {
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
	color: #000;
	font-size: 14px;
}

#cbp-vm .cartopt_cart_btn,.item_basket_type .cartopt_cart_btn {
    width: 100%;
    border: 1px solid #1c70e9;
    padding: 8px 5px;
    margin-bottom: 5px;
    background: #3a8afd;
    color: #fff;
    border-radius: 3px;
}

#cbp-vm .sct_cartop_wr .cartopt_close_btn,.item_basket_type .sct_cartop_wr .cartopt_close_btn {
    width: 100%;
    border: 1px solid #1c70e9;
    padding: 8px 5px;
    background: #fff;
    color: #1c70e9;
    border-radius: 3px;
}

#cbp-vm .sct_cartop_wr .modal-header .close,.item_basket_type .sct_cartop_wr .modal-header .close {
	color: #fff;
    opacity: 1;
}

#cbp-vm .sct_cartop_wr .bg-dark,.item_basket_type .sct_cartop_wr .bg-dark {
    background-color: #4B4B4D !important;
    color: #f1f1ff;
}
/* 카트관련 */

/* 상품리스트 sns&cart */

/* 장바구니 옵션 */
#mod_option_frm .shop-option h5 {
	margin-bottom:10px;
}

#mod_option_frm .shop-option .option-box > label {
	margin-bottom: 5px;
	display:block;
}

#mod_option_frm .shop-option .option-box > select {
    height: 35px;	
	width:100%;
}
/* 장바구니 옵션 */

/*추가*/
.opt-btns{
    margin-top: 25px;
}
.opt-btns input[type="text"] {
    width: 40px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ddd;
    border-left: 0px;
    border-right: 0px;
}

.opt-btns .p_button {
    display: inline-block;
    width: 18px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ddd;
    border-right: 0px;
    background-color: #fff;
    cursor: pointer;
    margin-right: -5px;

}

.opt-btns .m_button {
    display: inline-block;
    width: 18px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ddd;
    border-left: 0px;
    background-color: #fff;
    cursor: pointer;
    margin-left: -5px;
}

.td_chk{
	text-align: center;
	
}